@media screen and (min-width: 768px){

  body{background: #eff2f3;}

}
@media (min-width: 1200px){
      .container {
        width: 1200px;
        padding:0;
    }
}

img{
  max-width:100%;
}
.container{margin:1rem auto;}

a:focus{
  text-decoration: none;
}


.leibie{
    width:1200px;
    margin: 0 auto;
}
.lb_local{
    width:100%;
    padding:10px 0;

}
.lb_local span{
  font-size:18px;

 
}
.lb_leibie{
  width:100%;

}

.lb_leibie ul{
  box-sizing: border-box;
  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  justify-content: center;
  -webkit-justify-content:center;
  margin:1% 0;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.lb_leibie ul li{
   width: 14%;
   background-color:#323B48;
   text-align: center;
   padding:20px 0;
   margin:10px 3% 1% 0;
}
.lb_leibie ul li a{
  color:#fff;
  text-decoration: none;
}
.lb_leibie .active{
  background:#2096fa;
}
.tab_content{
  display:none;
}

/*分销系统字体*/
.ziti{    
	text-align: left;
    font-size: 20px;
    margin-top: 2%;
    width: 53%;
    float: left;
    color: #333;
    margin-left: 5%;}

.clearboth{
  clear: both;
}
.swiper-container {
      width: 1030px;
      height: 391px;
      
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper_fx_bg1{
      background: url('../../images/proIcon/type1/1.1.png') no-repeat;background-size:100% 100%;
    }
    .swiper_fx_bg2{
      background: url('../../images/proIcon/type1/1.2.png') no-repeat;background-size:100% 100%;
    }
    .swiper_fx_bg3{
      background: url('../../images/proIcon/type1/1.3.png') no-repeat;background-size:100% 100%;
    }
    .swiper_fx_bg4{
      background: url('../../images/proIcon/type1/1.4.png') no-repeat;background-size:100% 100%;
    }
    .swiper_fx_bg5{
      background: url('../../images/proIcon/type1/1.5.png') no-repeat;background-size:100% 100%;
    }

    .swiper_fh_bg1{
    background: url('../../images/proIcon/type2/1.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_fh_bg2{
      background: url('../../images/proIcon/type2/2.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_fh_bg3{
      background: url('../../images/proIcon/type2/3.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_fh_bg4{
      background: url('../../images/proIcon/type2/4.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_fh_bg5{
      background: url('../../images/proIcon/type2/5.png') no-repeat center;background-size:100% 100%;
    }

    .swiper_dl_bg1{
    background: url('../../images/proIcon/type3/1.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_dl_bg2{
    background: url('../../images/proIcon/type3/2.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_dl_bg3{
    background: url('../../images/proIcon/type3/3.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_dl_bg4{
    background: url('../../images/proIcon/type3/4.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_dl_bg5{
    background: url('../../images/proIcon/type3/5.png') no-repeat center;background-size:100% 100%;
    }
  
    .swiper_sj_bg1{
    background: url('../../images/proIcon/type4/1.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_sj_bg2{
    background: url('../../images/proIcon/type4/2.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_sj_bg3{
    background: url('../../images/proIcon/type4/3.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_sj_bg4{
    background: url('../../images/proIcon/type4/4.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_sj_bg5{
    background: url('../../images/proIcon/type4/5.png') no-repeat center;background-size:100% 100%;
    }

    .swiper_qf_bg1{
    background: url('../../images/proIcon/type5/1.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_qf_bg2{
    background: url('../../images/proIcon/type5/2.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_qf_bg3{
    background: url('../../images/proIcon/type5/3.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_qf_bg4{
    background: url('../../images/proIcon/type5/4.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_qf_bg5{
    background: url('../../images/proIcon/type5/5.png') no-repeat center;background-size:100% 100%;
    }

    .swiper_o2o_bg1{
    background: url('../../images/proIcon/type6/1.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_o2o_bg2{
    background: url('../../images/proIcon/type6/2.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_o2o_bg3{
    background: url('../../images/proIcon/type6/3.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_o2o_bg4{
    background: url('../../images/proIcon/type6/4.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_o2o_bg5{
    background: url('../../images/proIcon/type6/5.png') no-repeat center;background-size:100% 100%;
    }
  
    .swiper_xcx_bg1{
    background: url('../../images/proIcon/type7/1.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_xcx_bg2{
    background: url('../../images/proIcon/type7/2.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_xcx_bg3{
    background: url('../../images/proIcon/type7/3.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_xcx_bg4{
    background: url('../../images/proIcon/type7/4.jpg') no-repeat center;background-size:100% 100%;
    }
    .swiper_xcx_bg5{
    background: url('../../images/proIcon/type7/5.jpg') no-repeat center;background-size:100% 100%;
    }
    
    .swiper_h5_bg1{
    background: url('../../images/proIcon/type8/11.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_h5_bg2{
    background: url('../../images/proIcon/type8/12.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_h5_bg3{
    background: url('../../images/proIcon/type8/13.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_h5_bg4{
    background: url('../../images/proIcon/type8/14.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_h5_bg5{
    background: url('../../images/proIcon/type8/15.png') no-repeat center;background-size:100% 100%;
    }

    .swiper_gp_bg1{
    background: url('../../images/proIcon/type9/1.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_gp_bg2{
    background: url('../../images/proIcon/type9/2.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_gp_bg3{
    background: url('../../images/proIcon/type9/3.png') no-repeat center;background-size:100% 100%;
    }
    .swiper_gp_bg4{
    background: url('../../images/proIcon/type9/4.jpg') no-repeat center;background-size:100% 100%;
    }
    .swiper_gp_bg5{
    background: url('../../images/proIcon/type9/5.jpg') no-repeat center;background-size:100% 100%;
    }

    .swiper_c{
      padding:38px 0;
      border-top:2px solid #d9d9d9;
      border-bottom:2px solid #d9d9d9;
      margin:-50px 0 40px 0;

      }

    .new_product .bonus-img{
      right:0;
    }

    .bonus-icon{
    width: 100%;
    height: 100px;
    margin: 0 auto 2px auto;
    padding: 24px 0;
    }

    .new_product .bonus-content{
      min-height:170px;
      text-align: center;
    }

    .bonus.index{
      margin:0;
    }


    /* 商桥 */

    .dd_bridge{
      position: fixed;
      right:50px;
      top:250px;
      z-index: 2;
      background-color:#fff;
      border-radius: 5px;
      text-align: center;
      max-width:100%;
    }

    .bridge_head{
      position:absolute;
      top:-38px;
      left:50%;
      transform: translateX(-50%)
    }
    .bridge_head p{
      font-family: "微软雅黑";
      font-size:16px;;
      color:#333;
      padding-top:15px;
    }

    .bridge_online{
      margin-top:92px;
      border-bottom:1px solid #e6e6e6;
      border-top:1px solid #e6e6e6;
      
    }
    .bridge_wc{
      padding:10px 45px;
      border-bottom:1px solid #e5e5e5;
    }
    .bridge_wc div{
      margin:10px 0;
    }

    .bridge_wc p{
      font-size:16px;
      font-family: '微软雅黑';
      color:#333;
    }

    .bridge_wc div p{
      padding-left:10px;
      font-size:16px;
      font-family: '微软雅黑';
      color:#333;
    }

    .bridge_online div{
      padding:10px 0;
    }

    .bridge_online div span{
      padding-left:10px;
      font-size:16px;
      font-family: '微软雅黑';
      color:#2f87dc;
    }

    .bridge_call{
      border-bottom:1px solid #e5e5e5;
      padding:20px 0;
    }
    
    .bridge_call p:first-child{
      padding-bottom:15px;
      font-size:16px;
      font-family: '微软雅黑';
    }
    .bridge_call p:last-child{
      font-size:16px;
      font-family: '微软雅黑';
      color:#2f87dc;
    }
    .bridge_back {
      padding:20px 45px;
      padding-bottom:20px;
      font-size:16px;
      font-family: '微软雅黑';
    }

    .dd_close{
      width: 30px;
      height: 30px;
      background:#fff url('../../images/newBridge/close.png') no-repeat center center;
    
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px; 
      border:1px solid #e5e5e5;
      position:absolute;
      right:-14px;
      top:-13px;
    }
    .bridge_online div:hover{
      background-color:#f5f7f9;
    }
    .img_bridge{
      position: fixed;
      right:50px;
      bottom:350px;
      z-index: 2;
    }

    /*定制开发样式*/

  .dz_title{
    padding-top:10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    color: #333;
    font-family: '宋体';
  }  

  .line{
    height: 5px;
    width: 28px;
    background-color: #2096fa;
    margin: 0 auto;
  }

  .dz_f_title{
    font-family: '宋体' ,'微软雅黑';
    padding: 20px 0 30px 0;
    text-align: center;
    font-size: 24px;
    color: #333;
  }

  .fontsize0{
    font-size: 0;
  }

  .inline-block{
    display: inline-block;
    font-size:16px;
    vertical-align: top;
  }

  .dz_part1{
    padding:0 50px;
    background-color:#eef3f2;
  }
  
  .dz_part1 ul li{
    width:50%;
    padding:35px 0;
    
  }

  .item_content{
    overflow: hidden;
    padding-left: 20px;
  }

  .float_left{
    float: left;
    overflow: hidden;
  }

  .item_title{
    font-size: 20px;
    font-family: '微软雅黑';
    color:#333;
    padding-bottom:20px;
  }
  
  .item_text{
    font-size: 14px;
    font-family: '微软雅黑';
    color:#808080;
    white-space: normal;
    
  }

  .dd_w1200{
    width:1200px;
    margin:0 auto;
 }

.dz_part2{
    background-color:#fff;
    padding-top:30px;
    padding-bottom:40px;
}

.text_center{
  text-align: center;
}

.dz_part2 .fontsize0 ul li{
  width:20%;
}

.part2_img1{
  padding-bottom:20px;
}

.part2_img2{
  padding-bottom:10px;
}

.part2_img3{
  letter-spacing: .1em;
}

.dz_part3{
  padding:30px 0 40px 0;
}

.dz_part3 .fontsize0 ul li{
  width:23%;
  margin-right:30px;
  background-color:#fff;
}

.dz_part3 .fontsize0 ul li:last-child{
  margin-right:0;
}

.part3_img1{
  padding:40px 0;
}

.part3_img2{
  padding-bottom:25px;
  font-size:20px;
  color:#333;
  font-family: "微软雅黑"
}
.part3_img3{
  margin-bottom:45px;
  padding:0 20px;
  min-height: 120px;
  font-size:14px;
  color:#333;
  font-family: "微软雅黑"
}

/* .dz_part3 .fontsize0 ul li:hover{

  box-shadow: 0px 4px 20px #919191;

} */

.dz_part4{
  background-color:#fff;
}
.form_msg{
  width:50%;
}

.form_msg input{
  width:70%;
  border: 1px solid #ccc;
  padding: 13px 0px;
  border-radius: 3px;
  padding-left:5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

 .form_msg  input:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
  }

  .form_msg div{
    padding-bottom:40px;
  }

  .form_msg div:last-child{
    padding-bottom:0px;
  }

  .dz_part4{
    padding:30px 0 50px 0;
  }

  .dz_btm input{
    width:10%;
    margin-top:30px;
  }

  .dz_textarea{
    padding-right:50px;
    text-align: center;
  }

  .dz_textarea textarea{
    border-radius: 5px;
    padding:5px;
  }

  .font16{
    font-size:16px;
    font-family:"微软雅黑";
    color:#333;
    font-weight:800;
  }
   
  .item_content{
    padding-right:20px;
  } 
